#hideAll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:white;
    z-index:9998;
}
input[hidden] {
    display: none !important;
}

.disp-align-ver, .disp-align-ver input, .disp-align-ver button, .disp-align-ver > i, .disp-align-ver > span {
    display: inline-block;
    vertical-align: middle;
}
.row-menu {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    /*border-radius: 3px;*/
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f5f5f5;
    width: -webkit-fill-available;
}
.row-menu-nr input {
    max-width:100px;
}
.row-menu-sm input {
    height: 30px;
}
    .row-menu input[disabled] {
        background-color: white !important;
        cursor:default;
    }
    .row-menu .input-lg {
        max-width: 250px;
    }
.row-menu .col-sm-1, .row-menu .col-sm-2, .row-menu .col-sm-3, .row-menu .col-sm-4, .row-menu .col-sm-5, .row-menu .col-sm-6, .row-menu .col-sm-7 {
    padding: 0px 5px 0px 5px;
}
    .row-menu .btn {
        min-width:60px;
    }

.in-card-search {
    width: 100%;
    max-width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #42a5f5;
    padding: 5px 10px 5px 10px;
}
    .in-card-search:focus {
        outline: none;
    }
#jstree_div {
    max-height:726px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y:auto;
}

/* JsTree styling */
.jstree-anchor {
    position: relative;
}

    .jstree-anchor::after {
        content: attr(data_quantity);
        margin-left:5px;
        font-weight:700;
        color: #8e002b
        /*position: absolute;
        top: 0px;
        left: 24px;*/
    }

/*a[data_quantity] > .jstree-icon {
    margin-right: 28px;
}*/

/* Index page */
.row {
    padding-top: 15px;
}

.col-md-3, .col-md-6, .col-md-9 {
    padding: 0px;
}

.icon {
    max-width: 16px !important;
    max-height: 16px !important;
}

.table {
    font-size: small;
}
.table-condensed td {
    padding: 2px !important;
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: top !important;
}
.js-link {
    cursor: pointer;
    color: royalblue;
}
.js-link:hover {
    color: navy;
    text-decoration:none;
}

.cur-point {
    cursor: pointer;
}

.table-folders > thead > tr > th {
    border-bottom: none;
}

.float-r {
    float:right;
}
.float-l {
    float: left;
}

.toggleDiv dt, .toggleDiv dd {
    margin-bottom:2px;       
}

.pl {
    padding-left: 0.5em;
}
.pr {
    padding-right: 0.5em;
}

.ml {
    margin-left: 0.5em;
}

.mr {
    margin-right: 0.5em;
}
.mt {
    margin-top: 0.5em;
}

.mb {
    margin-bottom: 0.5em;
}
.pl-1 {
    padding-left: 1em;
}
.pl-2 {
    padding-left: 2em;
}
.pl-15 {
    padding-left: 15px;
}
.pl-30 {
    padding-left: 30px;
    padding-right: 30px;
}

/* ICONS */
.fa, .far, .fas {
    font-size:16px;
}

.fa-folder {
    color: #fdd835;
}
.fa-folder-plus {
    /* Have to override font size as folder icon too small */
    font-size: 21px; 
    margin-top: -2px;
    color: #c8b900;
}
.fa-file-upload {
    color: #607d8b;
}
.fa-file {
    color: #607d8b;
}
.fa-reply {
    transform: rotate(90deg);
}
.fa-file-medical {
    color: #34515e;
}
.fa-info-circle {
    color: #1e88e5;
    font-size: 20px;
}
.fa-trash-alt {
    color: #607d8b;
    font-size: 20px;
}
.fa-trash-alt:hover {
    color: #b91511;
}
.fa-pen-square {
    color: #8bc34a;
    font-size: 20px;
}
.fa-angle-double-up, .fa-angle-double-down, .fa-sync {
    color: white;
}
.fa-exclamation-triangle {
    color: #fca020;
    margin-right: 5px;
}

.info-icon-inside {
    right: 12px;
    top: 6px;
    color: rgba(0,0,0,0.5);
}
.info-icon-inside:hover {
    cursor:help;
    color: rgba(0,0,0,0.8);
}
.info-input-icon {
    padding-right: 24px !important;
}
.modal-body {
    max-height: 500px;
    overflow-y: auto;
}


/* Bootstrap override */
.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.panel, .panel-heading, .breadcrumb, .btn, input, textarea, .input-group-addon {
    border-radius:0px !important;
}
.panel, .panel-heading, .breadcrumbs {
    border: none !important;
}
.btn {
    border: 0px solid transparent !important;
}
.btn-sm {
    height: 30px !important;
}

a[type="button"] {
    padding-top: 6px !important;
}

.panel-info > .panel-heading {
    color: white !important;
    background-color: #42a5f5 !important;
}
.panel-warning > .panel-heading {
    color: black;
    background-color: #fff5c1;
}
.panel-warning > .panel-heading a {
    color: black;
}
.panel-success > .panel-heading {
    color: black;
    background-color: #a6dead;
}
.panel-heading {
    font-size: 16px !important;
    padding: 0px 0px 0px 15px;
    height: 30px;
}
    .panel-heading a {
        font-size: 16px;
        font-weight: 500 !important;
    }
    .panel-heading .cus-h4{
        font-size: 16px;
        float:left;
        margin: 6px 5px 0px 0px;
    }
    .panel-heading span {
        margin-top: 5px;
    }

.table > thead > tr > th {
    padding: 2px;
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}
.breadcrumb {
    background-color: #efefef;
    margin-bottom: 10px;
    padding: 5px 15px !important;
    margin-bottom: 10px !important;
    width: 100%;
}

legend {
    margin-bottom: 10px;
}

.dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    font-size: 16px;
    margin: 0px;
}
.dropdown-menu {
    padding: 0px;
    border-radius:0px !important;
}
.dropdown-menu .divider {
    margin: 0px;
}
    .dropdown-menu > li:hover {
        background-color: #e0e0e0;
    }


.modal-content {
    border-radius: 0;
}

/* Bootstrap override END */

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #addaff;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #42a5f5;
    }

/* Scroll bar end */

.dis {
    color: gray !important;
    cursor: not-allowed;
}
.del {
    font-weight: 500;
    cursor: pointer;
}
.del:hover {
    color:white;
    background-color:darkred;
}
.nor:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.td-head {
    font-weight: 700;
    width: 100px;
}

.td-value {
    max-width: 745px;
}

.tools-row {
    padding: 0px 30px !important;
}

/* Positions */
.pos-rel {
    position:relative;
}
.pos-abs {
    position: absolute;
}
.pos-fix {
    position: fixed;
}

.btn-group-tools {
    margin-bottom: 10px;
    float: left;
    border: 1px solid #ddd;
    max-height: 30px;
    overflow-y: hidden;
}
.btn-group-options {
    margin-left:5px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    max-height: 30px;
}
    .btn-group-options span, .btn-group-options .dropdown {
        display: inline-block;
        vertical-align: top;
        margin-top: -1px;
        margin-right: -1px;
    }
    .btn-group-options button {
        padding: 6px;
        max-height: 30px;
        width:30px;
    }
.btn-group-options span {
    padding: 5px;
}

#mainSearchButton {
    width:38px;
    margin-left: -1px;
    border-radius: 0px !important;
}
#mainSearchForm input  {
    margin-right: -1px;
}
#mainSearchForm {
    margin-top: 10px !important;
}
.border-ccc {
    border: 1px solid #ccc !important;
}
.input-wide {
    max-width:100%;
    width: 100%;
}

.danger {
    font-weight:600;
    font-size: 14px;
    color: #e30e4e;
}

.complex-a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: black !important;
}
    .complex-a:hover {
        text-decoration: none;
        color: blue !important;
    }
    .complex-a:hover > img, .complex-a:hover > span, .complex-a:hover > i {
        text-decoration: none;
        color: blue !important;
    }
    .complex-a > img, .complex-a > span, .complex-a > i {
        display: inline-block;
        vertical-align: middle;
    }
    .complex-a > i {
        display: inline-block;
        vertical-align: middle;
        color: #607d8b;
    }

.draggable.over {
    background-color: rgba(253, 216, 53, 0.4);
}

.fixed-ft {
    position: fixed;
    bottom:0px;
    left:0px;
    height:25px;
    width:100%;
    display:inline-block;
    vertical-align: middle;
    z-index: 1030;
}
.ft-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #0c5e5e;
    color: #fafafa !important;
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 400;
    padding: 3px 15px;
}
    .ft-container > .cpright {
        padding-left:15px;
        padding-right:15px;
    }
    .ft-container > div {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .ft-container > .ft-icon {
        margin-right: 5px;
    }
    .ft-container > .ft-placeholder {
        min-width:300px;
        margin-right: 15px;
    }
